<div class="container">
    <div class="row">
    <div class="page_title">
    <h2>さがす</h2>
    </div>
    <%= render 'user/search/search' %>
        <% @users.each do |user| %>
            <div class="user_box">
            <%# プロフィール写真 %>
                <%= link_to (user_path(user)) do %>
                    <%= attachment_image_tag user, :user_image, :fill, 250, 350, fallback: "no_image.jpg", size:'250x350' %>
                <% end %>
            <%# ニックネーム %>
                <% if current_user.gender_cd == "男性"%>
                    <div class="user_female_name">
                <% else %>
                    <div class="user_male_name">
                <% end %>
                    <%= user.name %>
                </div>
            <%# 生年月日から年齢を計算 %>
                <div class="user_profile">
                    <% birthdate = user.birth_date%>
                    <%= (Date.today.strftime("%Y%m%d").to_i - birthdate.strftime("%Y%m%d").to_i) / 10000 %>歳
            <%# 都道府県 %>
                    <%= user.prefecture_cd %>
                </div>
            </div>
        <% end %>
    </div>
</div>
