<div class="container">
    <div class="row">
    <div class="page_title">
    <h2>自分から</h2>
    </div>
        <% @activities.each do |activity| %>
            <% if current_user.gender_cd == "男性" %>
                <% if activity.female_user.disabled_at == nil %>
                <div class="activity_box">
                <%# プロフィール写真 %>
                    <%= link_to (user_path(activity.female_user.id)) do %>
                        <%= attachment_image_tag activity.female_user, :user_image, :fill, 250, 350, fallback: "no_image.jpg", size:'250x350' %>
                    <% end %>
                <%# ニックネーム %>
                    <div class="user_female_name">
                        <%= activity.female_user.name %>
                    </div>
                <%# 年齢 %>
                    <div class="user_profile">
                        <%= get_age(activity.female_user.birth_date) %>歳
                <%# 都道府県 %>
                        <%= activity.female_user.prefecture_cd %>
                    </div>
                </div>
                <% else %>
                <% end %>
            <% else %>
                <% if activity.male_user.disabled_at == nil %>
                <div class="activity_box">
                <%# プロフィール写真 %>
                    <%= link_to (user_path(activity.male_user.id)) do %>
                        <%= attachment_image_tag activity.male_user, :user_image, :fill, 250, 350, fallback: "no_image.jpg", size:'250x350' %>
                    <% end %>
                <%# ニックネーム %>
                    <div class="user_male_name">
                        <%= activity.male_user.name %>
                    </div>
                <%# 年齢 %>
                    <div class="user_profile">
                        <%= get_age(activity.male_user.birth_date) %>歳
                <%# 都道府県 %>
                        <%= activity.male_user.prefecture_cd %>
                    </div>
                </div>
                <% else %>
                <% end %>
            <% end %>
        <% end %>
    </div>
</div>